<template>
  <router-view />
</template>

<style>
* {
  margin: 0;
  padding: 0;
}

#app {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}
</style>
