<template>
  <div class="hello">
    <div v-if="!stage">
      <h2>Login</h2>
      <input v-model="login.username" placeholder="username" />
      <br />
      <input v-model="login.password" placeholder="password" />
      <br />
      <button v-on:click="onLoginClick">Login</button>
    </div>

    <div v-if="stage === 'Authenticated'">
      <h2>I AM IN</h2>
      <button v-on:click="onCallClick">Call API</button>
    </div>
  </div>
</template>

<script>
import { login, newPasswordChallenge, getData } from './login';

export default {
  name: 'HelloWorld',
  data: () => ({
    status: null,
    stage: null,
    login: {
      username: 'vitor.moreira@green-custard.com',
      password: '!Password123',
      user: null,
    },
    reset: {
      newPassword: '!Password123',
      confirmPassword: '!Password123',
    },
  }),
  methods: {
    onLoginClick: async function() {
      const { username, password } = this.login;
      this.status = 'Login in ...... ';
      const { error, data } = await login(username, password);

      if (error) {
        this.status = `I got an error...${error.message}`;
      }
      if (data) {
        this.status = `I got some data ...`;
        const { challengeName } = data;
        this.login.user = data;
        if (challengeName && challengeName === 'NEW_PASSWORD_REQUIRED') {
          this.stage = challengeName;
        } else {
          this.stage = 'Authenticated';
        }
      }
    },
    onResetClick: async function() {
      const { newPassword, confirmPassword } = this.reset;

      if (newPassword !== confirmPassword) {
        this.status = 'Passwords do not match!';
        return;
      }

      await newPasswordChallenge(this.login.user, newPassword);
      this.stage = 'Authenticated';
    },
    onCallClick: async function() {
      getData()
        .then(console.log)
        .catch(console.error);
    },
  },
};
</script>

<style scoped></style>
