<template>
  <div class="wrapper">
    <div class="controls">
      <div class="crossCenter">
        <div class="crossTop" @click="forwardClick"></div>
        <div class="crossBottom" @click="backwardsClick"></div>
        <div class="crossLeft" @click="leftClick"></div>
        <div class="crossRight" @click="rightClick"></div>
        <div class="crossCircle" @click="centerClick"></div>
      </div>
    </div>
  </div>
</template>

<script>
import { publish } from '../services/iot-core';
import { signOut } from '../services/auth';

export default {
  name: 'Drive',
  methods: {
    forwardClick: async function(e) {
      e.preventDefault();
      await publish('/drive', { direction: 'forward' });
    },
    backwardsClick: async function(e) {
      e.preventDefault();
      await publish('/drive', { direction: 'backward' });
    },
    rightClick: async function(e) {
      e.preventDefault();
      await publish('/drive', { direction: 'right' });
    },
    leftClick: async function(e) {
      e.preventDefault();
      await publish('/drive', { direction: 'left' });
    },
    centerClick: async function(e) {
      e.preventDefault();
      await publish('/drive', { direction: 'stop' });
    },
    logout: async function(e) {
      e.preventDefault();
      await signOut();
    },
  },
};
</script>

<style scoped>
.wrapper {
  background: #2f405b;
  height: 100vh;
  width: 100%;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.controls {
  width: 300px;
  height: 300px;
  background-color: #95bf14;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  bottom: 20%;
}

.crossCenter {
  background-color: #333333;
  width: 70px;
  height: 70px;
  position: absolute;
}

.crossCircle {
  background-color: #292929;
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 100%;
  margin-top: 10px;
  margin-left: 10px;
}

.crossTop {
  background-color: #333333;
  width: 70px;
  height: 70px;
  position: absolute;
  border-radius: 15%;
  margin-top: -60px;
}

.crossBottom {
  background-color: #333333;
  width: 70px;
  height: 70px;
  position: absolute;
  border-radius: 15%;
  margin-top: 60px;
}

.crossLeft {
  background-color: #333333;
  width: 70px;
  height: 70px;
  position: absolute;
  border-radius: 15%;
  margin-left: -60px;
}

.crossRight {
  background-color: #333333;
  width: 70px;
  height: 70px;
  position: absolute;
  border-radius: 15%;
  margin-left: 60px;
}
</style>
