<template>
  <div class="container">
    <div class="form-container sign-in-container">
      <form>
        <h1>Sign in</h1>
        <input type="email" placeholder="Email" v-model="username" />
        <input type="password" placeholder="Password" v-model="password" />
        <button @click="onLoginClick">Sign In</button>
      </form>
    </div>
    <div class="form-container gc-intro-container">
      <h1 class="pad-bottom">Hey, Driver</h1>
      <p>Do you want to know more about GC?</p>
      <p>Visit the website.</p>
      <button class="pad-top">Go to GC</button>
    </div>
  </div>
</template>

<script>
import { login } from '../services/auth';

export default {
  name: 'Login',
  data: function() {
    return {
      username: 'vitormoreira55@gmail.com',
      password: '!Password123',
    };
  },
  methods: {
    onLoginClick: async function(e) {
      e.preventDefault();
      const res = await login(this.username, this.password);
      if (res.error) return this.$toast.error('Login failed!');
      else return this.$router.push('drive');
    },
  },
};
</script>

<style scoped>
form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.gc-intro-container {
  background-color: #2f405b;
  color: #ffffff;
  right: 0;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 16px 0px;
}

.pad-top {
  padding-top: 10px;
}

.pad-bottom {
  padding-bottom: 7px;
}

button {
  border-radius: 2px;
  border: 1px solid #95bf14;
  background-color: #95bf14;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}
</style>
